.App {
  text-align: center;
  font-family: 'Khand', sans-serif;
}

/* img {
  max-width: 375px;
} */

a {
  text-decoration: none;
}
a:visited {
  color: black;
}


@media (min-width: 375px) {
body {
    /* background-color: red; */
}
input {
  max-width: 200px;
}
.submit-button {
  max-width: 100px;
}
}