.App {
  text-align: center;
  font-family: 'Khand', sans-serif;
  color: black;
}

button {
  background-color: white;
  border: 1px solid black;
  border-radius: none;
}

a {
  text-decoration: none;
  color: black;
}
a:visited {
  color: black;
}


@media (min-width: 375px) {
body {
    /* background-color: red; */
}
input {
  max-width: 200px;
}
.submit-button {
  max-width: 100px;
}
}