.details-header {
  display: flex;
  font-size: 2em;
  padding-top: 20px;
  padding-bottom: 10px;
  font-weight: bold;
  border-bottom: 6px solid rgb(25, 130, 192);
}

.detail-img {
  width: 100vw;
}

.back-button {

}

.card {
  display: flex;
}