
.footer {
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid black;
  padding-top: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
}
